{% extends 'TestTeamLayout.html'%}
{% block subcontent %}
<div class="post row" style="min-height: 98%;_min-height: 98%">
	<div class="col-sm-3" ng-controller="ProjectCtrl">
		<div class="list-group tag-sidebar">
			<div class="list-group-item active">
				<div class="row">
					<div class="col-xs-8">项目列表</div>
					<div class="col-xs-4 text-right" style="margin-top: 0px;">
						<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#project_add"><i class="fa fa-plus"></i></button>
					</div>
				</div>
			</div>
			<a class="list-group-item" data-toggle="collapse" href="#pro1">项目一</a>
				<div id="pro1" class="list-group tag-sidebar panel-collapse collapse" style="margin-bottom: 0px;">
					<a class="list-group-item" href="#" style="background-color: #D1DFEA;"> <i class="fa fa-angle-right"></i> Link</a>
					<a class="list-group-item" href="#" style="background-color: #D1DFEA;"> <i class="fa fa-angle-right"></i> Link</a>
					<a class="list-group-item" href="#" style="background-color: #eee;"> <i class="fa fa-angle-right"></i> Link</a>
					<a class="list-group-item" href="#" style="background-color: #eee;"> <i class="fa fa-angle-right"></i> Link</a>
              	</div>
			<a class="list-group-item" data-toggle="collapse" href="#pro2">项目二</a>
				<div id="pro2" class="list-group tag-sidebar panel-collapse collapse" style="margin-bottom: 0px;">
					<a class="list-group-item" href="#"> <i class="fa fa-tag"></i> Link</a>
					<a class="list-group-item" href="#"> <i class="fa fa-tag"></i> Link</a>
					<a class="list-group-item" href="#"> <i class="fa fa-tag"></i> Link</a>
					<a class="list-group-item" href="#"> <i class="fa fa-tag"></i> Link</a>
              	</div>
			<a class="list-group-item" data-toggle="collapse" href="#pro3">项目三</a>
				<div id="pro3" class="list-group tag-sidebar panel-collapse collapse" style="margin-bottom: 0px;">
					<a class="list-group-item" href="#"> <i class="fa fa-tag"></i> Link</a>
					<a class="list-group-item" href="#"> <i class="fa fa-tag"></i> Link</a>
					<a class="list-group-item" href="#"> <i class="fa fa-tag"></i> Link</a>
					<a class="list-group-item" href="#"> <i class="fa fa-tag"></i> Link</a>
              	</div>
			<a class="list-group-item" data-toggle="collapse" href="#pro4">项目四</a>
				<div id="pro4" class="list-group tag-sidebar panel-collapse collapse" style="margin-bottom: 0px;">
					<a class="list-group-item" href="#">Link</a>
					<a class="list-group-item" href="#">Link</a>
					<a class="list-group-item" href="#">Link</a>
					<a class="list-group-item" href="#">Link</a>
              	</div>
			<a class="list-group-item" data-toggle="collapse" href="#pro5">项目五</a>
				<div id="pro5" class="list-group tag-sidebar panel-collapse collapse" style="margin-bottom: 0px;">
					<a class="list-group-item" href="#">Link</a>
					<a class="list-group-item" href="#">Link</a>
					<a class="list-group-item" href="#">Link</a>
					<a class="list-group-item" href="#">Link</a>
              	</div>
			<a class="list-group-item" data-toggle="collapse" href="#pro6">项目一</a>
			<a class="list-group-item" data-toggle="collapse" href="#pro7">项目一</a>
			<a class="list-group-item" data-toggle="collapse" href="#pro8">项目一</a>
			<a class="list-group-item" data-toggle="collapse" href="#pro9">项目一</a>
        </div>
		<!--<div class="well sidebar-nav" style="background-image: linear-gradient(to bottom,#FFFFFF 0,#FAFAFA 100%);">
			<div class="sidebar-title">
				<div class="row">
					<div class="col-xs-8">项目列表</div>
					<div class="col-xs-4 text-right" style="margin-top: 0px;">
						<button type="button" class="" data-toggle="modal" data-target="#project_add"><i class="fa fa-plus"></i></button>
					</div>
				</div>
			</div>
			<ul class="nav nav-list">
              	<a data-toggle="collapse" href="#pro1"><i class="fa fa-caret-square-o-down fa-fw"></i></a><a href="#">项目一</a>
              	<ul id="pro1" class="nav nav-list panel-collapse collapse">
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
              	</ul>
            </ul><ul class="nav nav-list">
              	<a data-toggle="collapse" href="#pro2"><i class="fa fa-caret-square-o-down fa-fw"></i></a><a href="#">项目一</a>
              	<ul id="pro2" class="nav nav-list panel-collapse collapse">
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
              	</ul>
            </ul><ul class="nav nav-list">
              	<a data-toggle="collapse" href="#pro3"><i class="fa fa-caret-square-o-down fa-fw"></i></a><a href="#">项目一</a>
              	<ul id="pro3" class="nav nav-list panel-collapse collapse">
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
              	</ul>
            </ul>
		</div>  -->
		<div class="modal fade" id="project_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-plus fa-fw"></i>创建新项目</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" name="createProjectForm">
                            <div class="form-group">
                                <label for="ProjectName">项目名称<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="ProjectName" name="ProjectName" ng-model="Project.ProjectName" placeholder="项目名称" required />
                                <div ng-show="createProjectForm.ProjectName.$dirty&&createProjectForm.ProjectName.$error.required" class="text-danger">请输入项目名称</div>
                                <br>
                                <label for="Introduction">项目介绍</label>
                                <textarea rows="3" type="text" class="form-control" id="Introduction" name="Introduction" ng-model="Project.Introduction" placeholder="项目介绍" /></textarea> 
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle fa-fw"></i>关闭</button>
                        <button type="button" id="btnCreateProject" ng-disabled="createProjectForm.$invalid" class="btn btn-primary" data-loading-text="正在创建" ng-click="create();"><i class="fa fa-save fa-fw"></i>保存</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="col-sm-9">
		模块详细信息
	</div>
</div>
{% endblock %}